In [1]:
import sqlite3

# Kết nối đến database (nếu chưa có thì sẽ tạo mới)
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

# Tạo bảng NhanVien
cursor.execute("""
CREATE TABLE IF NOT EXISTS NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen TEXT,
    Tuoi INTEGER,
    PhongBan TEXT
)
""")

# Chèn dữ liệu vào bảng
data = [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
]
cursor.executemany("INSERT INTO NhanVien VALUES (?, ?, ?, ?)", data)

# Truy vấn tất cả nhân viên
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
print("Danh sách nhân viên:")
for row in rows:
    print(row)

# Truy vấn nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
print("\nNhân viên phòng IT:")
for row in rows:
    print(row)

# Cập nhật phòng ban của "Le Van C"
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE MaNV = 3")

# Xóa nhân viên MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")

# Đếm số nhân viên mỗi phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print("\nSố nhân viên mỗi phòng ban:")
for row in rows:
    print(row)

# Lưu thay đổi và đóng kết nối
conn.commit()
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

Số nhân viên mỗi phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)