In [52]:
import sqlite3

# Kết nối tới cơ sở dữ liệu (nếu cơ sở dữ liệu không tồn tại, nó sẽ được tạo mới)
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()

#1 Tạo bảng NhanVien
cursor.execute('''
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT NOT NULL,
        Tuoi INTEGER,
        PhongBan TEXT
    );
''')
# 2Chèn dữ liệu vào bảng NhanVien

cursor.executemany('''
    INSERT OR IGNORE INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) 
    VALUES (?, ?, ?, ?)
''', [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'Ke Toan'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
])
# Lưu và đóng kết nối
conn.commit()
conn.close()

In [ ]:
# Mở kết nối 
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# 3 Truy vấn tất cả nhân viên
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
print("Danh sách nhân viên:")
for row in rows:
    print(row)

#4  Truy vấn nhân viên phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
rows = cursor.fetchall()
print("\nNhân viên phòng IT:")
for row in rows:
    print(row)
    
# 5 Truy vấn nhân viên có tuổi > 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
rows = cursor.fetchall()
# In kết quả
for row in rows:
    print(row)

#6 cho biết nhân viên lớn tuổi nhất phòng ban
cursor.execute("SELECT PhongBan,HoTen,MAX (Tuoi) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print("\nNhân viên lớn tuổi nhất của các phòng ban:")
for row in rows:
    print(row)
# Lưu và đóng kết nối
conn.commit()
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên phòng IT:
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'Ke Toan')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên lớn tuổi nhất của các phòng ban:
('IT', 'Hoang Thi O', 27)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)

In [ ]:
# Mở kết nối 
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# 7 Cập nhật phòng ban của "Le Van C"
# Vấn đề có thể gặp phải khi cập nhật
# Nếu có nhiều nhân viên tên "Le Van C", câu lệnh UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C' sẽ cập nhật tất cả họ.
# Cách giải quyết: Nên sử dụng MaNV để cập nhật chính xác một nhân viên.

cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE MaNV = 3")
cursor.execute("SELECT * FROM NhanVien")
rows = cursor.fetchall()
print("\nPhòng ban của nhân viên 'Le Van C' đã được cập nhật:")
for row in rows:
    print(row)
# Lưu và đóng kết nối
conn.commit()
conn.close()

Phòng ban của nhân viên 'Le Van C' đã được cập nhật:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'Marketing')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

In [ ]:
# Mở kết nối 
conn = sqlite3.connect('nhanvien.db')
cursor = conn.cursor()
# 8 Xóa nhân viên MaNV = 2 ,Đếm số nhân viên mỗi phòng ban
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")

cursor.execute("SELECT PhongBan, COUNT(*) FROM NhanVien GROUP BY PhongBan")
rows = cursor.fetchall()
print("\nSố nhân viên mỗi phòng ban:")
for row in rows:
    print(row)

# Lưu và đóng kết nối
conn.commit()
conn.close()

Số nhân viên mỗi phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)